/*
Name: Scaled Nav-Bar
URI: http://brandonkwong.com/dev/scaled-nav-bar/
Description: Stylishly simple, fixed navigational bar with a responsive touch.
Version: 2.5.0 (Document last updated on 9-Jan-14)
Author: Brandon Kwong
Author URI: http://brandonkwong.com
*/


/* =Import CSS
-------------------------------------------------------------- */

@import url("normalize.css");
@import url("font-awesome.min.css");


/* =Import Fonts
-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);


/* =Body
-------------------------------------------------------------- */

body {
	margin: 0 auto; padding: 0; width: 100%; height: 100%;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
    }

h1 {
    margin: 0 auto;
	font-size: 1.7em; font-weight: 600; color: #fff;
    }

a {
    text-decoration: none;
    transition: .15s;
    }


/* =Header
-------------------------------------------------------------- */

header {
    display: block; position: fixed;
    margin: 0 auto; padding: 0; width: 100%; height: 3.35em;
    background: rgba(0, 0, 0, .8);
    border-bottom: .1em solid rgba(0, 0, 0, .8);
    background-clip: padding-box;
    z-index: 100;
    }

nav {
	display: block; position: relative;
	margin: 0 auto; padding: 0; width: 95%; height: 100%;
    }


/* =Logo
-------------------------------------------------------------- */

#nav-logo, #nav-logo-s {
    display: block; position: relative; float: left;
	margin: 0 auto; padding-right: 1.75em; height: 100%;
    }

#nav-logo a, #nav-logo-s a {
	display: block;
    margin: 0 auto; padding: .45em 0;
    padding-bottom: .7em
    }

#nav-logo-s { /* Header for Mobile Device */
    display: none;
    padding: 0;
    }


/* =Navigation [Primary]
-------------------------------------------------------------- */

#nav-menu, #nav-menu-r, #nav-menu-s {
	display: block; position: relative; float: left;
	margin: 0 auto;	padding: 0; height: 100%;
	}

#nav-menu ul, #nav-menu-r ul, #nav-menu-s ul {
	margin: 0 auto; padding: 0; height: 100%;
	list-style: none;
	}

#nav-menu ul .sub-nav, #nav-menu-s ul .sub-nav {
    display: none;
    }

#nav-menu ul .visible, #nav-menu-s ul .visible {
    display: block;
    }

#nav-menu li, #nav-menu-r li, #nav-menu-s li {
	display: block; position: relative; float: left;
	margin-left: 3em; padding: 0; height: 100%;
    }

#nav-menu li:first-child, #nav-menu-r li:first-child {
    margin-left: 0;
    }

#nav-menu a, #nav-menu-r a {
	display: block;
    margin: 0 auto; padding: 1em 0;
	font-size: 1em; color: #fff;
	}

#nav-menu li:hover > a, #nav-menu-r li:hover > a {
	color: #b163a3;
	}

#nav-menu li:hover {
    box-shadow: 0 -.2em 0 0 #b163a3 inset;
    transition: .15s;
    cursor: pointer;
	}


/* Menu Right */

#nav-menu-r {
	float: right;
	}

#nav-menu-r li {
    margin-left: 1.5em;
    }

#nav-menu-r li:hover, #nav-menu-s li:hover {
    cursor: pointer;
	}


/* Menu Small */

#nav-menu-s {
	display: none; float: right;
	}

#nav-menu-s li {
    margin-left: 1em;
    }

#nav-menu-s .fa-bars {
    margin-top: .5em; padding: 0;
    font-size: 1.7em; color: #fff;
    }

#nav-menu-s .fa-sign-in {
    margin-top: .39em; padding: 0;
    font-size: 1.9em; color: #fff;
    }

#nav-menu-s li:hover > a .fa-bars,
#nav-menu-s li:hover > a .fa-sign-in {
	color: #b163a3;
    }


/* =Navigation [Secondary]
-------------------------------------------------------------- */

#nav-menu ul ul, #nav-menu-s ul ul {
	display: none; position: absolute; top: 100%; left: -1em;
    margin: -.2em 0 0 0; padding: .5em 0; height: auto;
    background: #fff;
    box-shadow: 0 .6em .75em 0 rgba(0, 0, 0, .65);
    border-radius: .2em;    
	}

#nav-menu ul ul li, #nav-menu-s ul ul li {
    margin: 0 auto; padding: 0; width: 10em;
	}

#nav-menu ul ul li:hover, #nav-menu-s ul ul li:hover {
	background: #eee;
	box-shadow: none;
	}

#nav-menu ul ul li a, #nav-menu-s ul ul li a {
    display: block;
	margin: 0 auto; padding: .5em 1em .5em 1em; height: 100%;
    font-size: .95em; color: #000;
	}

#nav-menu ul ul li:hover > a, #nav-menu-s ul ul li:hover > a {
    color: #b163a3;
    }


/* Arrow */

#nav-menu .arrow, #nav-menu-s .arrow {
    display: none;
	position: relative;
	background: #fff;
    z-index: 100;
    }

#nav-menu .arrow:after, #nav-menu-s .arrow:after {
	bottom: 100%; left: 50%;
	border: solid transparent;
	content: " ";
	width: 0; height: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: .5em;
	margin-left: -.5em;
    margin-bottom: .2em;
    }


/* Menu Small */

#nav-menu-s ul ul {
    left: auto; right: -2.7em; /* Adjust for menu items */
    }

#nav-menu-s .arrow:after {
    margin-bottom: -.65em;
    }


/* =Navigation [Tertiary]
-------------------------------------------------------------- */

#nav-menu ul ul ul, #nav-menu-s ul ul ul {
	display: block; position: relative;
    margin: 0 0 0 -2.7em; padding: 0;
    background: none;
    box-shadow: none;
    border-radius: none;
    }

#nav-menu ul ul ul li, #nav-menu-s ul ul ul li,
#nav-menu-s ul ul ul li:hover {
    background: #fff;
	}

#nav-menu ul ul ul li a, #nav-menu-s ul ul ul li a {
    display: block;
	margin: 0 auto; padding: .5em 1em .5em 1.75em; height: 100%;
    font-size: .9em; color: #000;
	}


/* =Media Queries
-------------------------------------------------------------- */

@media all and (max-width: 48em) {
    
    #nav-logo, #nav-menu, #nav-menu-r {
        display: none;
        }
    
    #nav-logo-s, #nav-menu-s {
        display: block;
        }    

    .demo {
        min-width: 48em;
        }

    }

@media all and (max-width: 36em) {
    
    .demo br:first-child {
        display: block;
        }

    }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    
    body {
        font-size: 2.5em;
        }

    a {
        transition: none;
        }
    
    nav {
        width: 90%;
        }
    
    #nav-logo, #nav-menu, #nav-menu-r {
        display: none;
        }

    #nav-logo-s, #nav-menu-s {
        display: block;
        }
    
    #nav-menu li:hover {
        box-shadow: none;
        }
    
    .demo {
        top: 55%; left: 5%;
        line-height: 1.25em;
        }

    .demo br:first-child {
        display: block;
        }

    .caption {
        right: 5%;
        }

    .gitbtns {
        display: none;
        }
        
    }